.inputPoke {
  width: 180px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 1rem;
  border: none;
  color: black;
}

.pokeButton {
  width: 120px;
  height: 28px;
  text-align: center;
  font-size: 15px;
  border-radius: 1rem;
  border: none;
  margin: 10px;
  background: white;
}
